{% extends 'base.html' %}

{% block title %}Anasayfa - {{ block.super }}{% endblock %}

{% block body %}

    <div class="container-fluid" style="text-align: center;">
        <h1>TestMatik nedir?</h1>
        <p> “TestMatik” kullanıcıların seçtikleri sorulara göre kendi testlerini yapmalarına yardımcı olan web tabanlı bir uygulamadır.</p>
        <h1>Nasıl kullanır?</h1>
        <video width="600" controls>
            <source src="tutorial.mp4" type="video/mp4">

            tarayıcı desteklemiyor
        </video>
   {{ request.user.get_full_name }}
    </div>

{% endblock %}